<nav>
    <a id="xing-link" 
        href="https://www.xing.com/profile/Volker_Buzek"
        class="icon"
        title="Volker on Xing"
        aria-lable="Link to Volker's Profile on Xing">
        <i class="fab fa-xing-square"></i>
    </a>
    <a id="linkedin-link" 
        href="https://de.linkedin.com/in/volkerbuzek"
        class="icon"
        title="Volker on Linkedin"
        aria-lable="Link to Volker's Profile on Linkedin">
            <i class="fab fa-linkedin"></i>
    </a>
    <a id="sap-community-link" 
        href="https://people.sap.com/vobu"
        class="icon"
        title="Volker on SAP community"
        aria-lable="Link to Volker's SAP people profile">
        <i class="fas fa-user-circle"></i>
    </a>
    <a id="twitter-link" 
        href="https://www.twitter.com/vobu"
        class="icon"
        title="Volker on twitter"
        aria-lable="Link to Volker's twitter feed">
        <i class="fab fa-twitter-square"></i>
    </a>

</nav>